[MASTER]
; ignore=
ignore-patterns=^venv$
extension-pkg-whitelist=pydantic
load-plugins =
    pylint_pydantic,

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=97

[BASIC]
good-names=f, dt
; generated-members=

[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-module-docstring,
    missing-class-docstring,
    consider-using-f-string,
    consider-using-max-builtin,
    too-few-public-methods,

enable=
   useless-suppression,
